 <%-include('common/nav')-%>
 <link rel="stylesheet" href="../static/style1.css">
 <h1>
    Contact 
 </h1> 
   <div class="container">
 <form action="" class="myinput"> 
    <input type="text" class="input" name="name" placeholder="Enter your Name">
    <input type="text" class="input" name="Age" placeholder="Enter your Age">
    <input type="text" class="input" name="Gender" placeholder="Enter your Gender">
    <input type="text" class="input" name="phone" placeholder="Enter your Number">
    <button class="btn">Submit</button>
 </form>
</div>
 <footer id="footer">
    Copyright © 2022 VishalAcademy.com All Rights Reserved
  </footer>