<nav id="navbar">
    <ul>
      <div id="logo">
        <img src="../static/img/bg5.png" alt="">
      </div>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/Services">Services</a></li>
    <li><a href="/contact">Contact Us</a></li>
</ul>
</nav>
